<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Token Management</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngIf="imgsrc">
      <div class="image">
        <img [src]="transform()" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a [routerLink]="['/profile']" class="d-block">{{name}}</a>
        <a class="d-block">{{user.role}}</a>
      </div>
    </div>

    <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngIf="!imgsrc">
      <div class="image">
        <img src="assets/dist/img/avatar2.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a [routerLink]="['/profile']" class="d-block">{{name}}</a>
        <a class="d-block">{{user.role}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item" *ngIf="isAdmin">
          <a [routerLink]="['/admin']" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
            <a [routerLink]="['/user/list']" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-user"></i>
              <p>
                User
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a [routerLink]="['/cngpass']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Change Password
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a [routerLink]="['/department/list']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Department
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a [routerLink]="['/counter/list']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fas fa-th-large"></i>
              <p>
                Counter
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="(user.role === 'Admin' || user.role === 'Token')">
            <a [routerLink]="['/customer/list']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Customer
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="(user.role === 'Admin' || user.role === 'Token')">
            <a [routerLink]="['/token/add']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="nav-icon fas fa-tag"></i>
              <p>
                Issue Token
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="(user.role === 'Admin' || user.role === 'Staff')">
              <a [routerLink]="['/call']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="nav-icon fas fa-comment-alt"></i>
                <p>
                  Call
                </p>
              </a>
            </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>